In [1]:
import pandas as pd
import re
import requests
from geopy.geocoders import Nominatim
import ast
import country_converter as coco
from pathlib import Path 
import geopandas as gpd

pd.options.mode.chained_assignment = None

In [2]:
import os
cur_path = os.getcwd()
directory = cur_path
directory

'/home/amber/projects/religious_history_project_work'

In [3]:
with open(directory+'/api.txt') as f:
    lines = f.readlines()

In [4]:

API_KEY = lines[0]

Here I am loading the csv file which was generated by the scraping script. In this dataset, there are three columns:
- region, representing the geographical location of the religious group. This can be a country, city or a continent.
- Group, is the name of the religious group (or religious text, place). 
- details - contains information about the year range over which the religious group has existed (upto 2022CE), the source reporting the group, the designation (whether it is a religious group or a religious place or a religious text). 

All three columns needs some kind of cleaning and update before this data is ready for EDA. Below is a summary of all the cleaning work: 
 
1. Extracted the source from details, if present into a new column. 
2. Extracted the year range into a separate column, further split the range into a start and end date for easier tracing while plotting.
3. Removed leading and trailing whitespaces if present.
4. Made two new binary representation (0,1) columns representing if a 'Group' is a religious group or a religious place or both. 
5. The region information was ambiguous, as region can be city, country or a continent. This proved to be the most difficult cleaning task because:
    - some of the region names were old region names, that are not used any more, for example al-andalus (now Spain). I tried a few different packages, the google geocoding API worked best, as it was able to pick up regions using their former names. The api didn't work for all such regions, and I manually mapped the missing ones, using the nearest modern country name. 
    - The region information was used to create a new continent column using country convrerter library. 
    - There is no current country column, the latitude and logitude coordinates will be sufficient for mapping the groups.

In [5]:
raw_data = pd.read_csv(directory+'/scraped_religion_data.csv')
raw_data = pd.DataFrame(raw_data)
raw_data

,region,Group,details
0,afghanistan,Chishti Sufis,"['Supervised by: Stephen Christopher', '1200 C..."
1,africa,African Initiated Churches,"['1900 CE - 2022 CE', 'Religious Group, pentec..."
2,africa,Ancient Egypt - Early Dynastic Period,"['2950 BCE - 2670 BCE', 'Religious Group, Afri..."
3,africa,Ancient Egypt - First Intermediate Period,"['2168 BCE - 2010 BCE', 'Religious Group, Afri..."
4,africa,Ancient Egypt - Old Kingdom,"['2670 BCE - 2168 BCE', 'Religious Group, Afri..."
...,...,...,...
2779,al-andalus,Qiṣṣat Dhī al-Qarnayn,"['850 CE - 1250 CE', 'Religious Group, Text, A..."
2780,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...","['1332 CE - 1406 CE', ""Religious Group, Text, ..."
2781,southern-levant,Religion in the Early Bronze Age / Canaan,"['3600 BCE - 2400 BCE', 'Religious Group, Syro..."
2782,southern-levant,Synagogue at Gamla,"['20 BCE - 67 CE', 'Religious Group, Religious..."
2783,southern-levant,Religion in the Middle Bronze Age / Canaan,"['2000 BCE - 1550 BCE', 'Religious Group, Syro..."

In [6]:
# extracting source, timeframe and attributes to become separate columns in the cleaned dataframe
extract_components = raw_data['details']
source = []
timeframe = []
attributes = []
for i in extract_components:
    lst = ast.literal_eval(i)
    if len(lst)==4:
        source.append(lst[0])
        timeframe.append(lst[2])
        attributes.append(lst[3])
    if len(lst)==3:
        source.append(lst[0])
        timeframe.append(lst[1])
        attributes.append(lst[2])
    if len(lst)==2:
        source.append("No Source")
        timeframe.append(lst[0])
        attributes.append(lst[1])

In [7]:
data_clean_1 = pd.DataFrame({'Region' :raw_data['region'], 'Name':raw_data['Group'],'Source':source,'TimeFrame':timeframe,'Attributes':attributes})

In [8]:
# remove leading and trailing whitespace
data_clean_1['Attributes'] = data_clean_1['Attributes'].str.strip()
#remove space between items separated by commas
data_clean_1['Attributes'] = data_clean_1['Attributes'].str.replace(r'\s*,\s*', ',', regex=True)

In [9]:
#creating two new binary columns for religious group and place designation in the cleaned dataframe
data_clean_1['ReligiousGroup'] = data_clean_1['Attributes'].apply(lambda x: 1 if 'Religious Group' in x else 0)
data_clean_1['ReligiousPlace'] = data_clean_1['Attributes'].apply(lambda x: 1 if 'Religious Place' in x else 0)
data_clean_1

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace
0,afghanistan,Chishti Sufis,Supervised by: Stephen Christopher,1200 CE - 2020 CE,"Religious Group,Sufi,Islamic Traditions,South ...",1,0
1,africa,African Initiated Churches,No Source,1900 CE - 2022 CE,"Religious Group,pentecostal,African Religions,...",1,0
2,africa,Ancient Egypt - Early Dynastic Period,No Source,2950 BCE - 2670 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0
3,africa,Ancient Egypt - First Intermediate Period,No Source,2168 BCE - 2010 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0
4,africa,Ancient Egypt - Old Kingdom,No Source,2670 BCE - 2168 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0
...,...,...,...,...,...,...,...
2779,al-andalus,Qiṣṣat Dhī al-Qarnayn,No Source,850 CE - 1250 CE,"Religious Group,Text,Apocalyptic Literature an...",1,0
2780,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...",No Source,1332 CE - 1406 CE,"Religious Group,Text,فقه,Islamic Theology,Rule...",1,0
2781,southern-levant,Religion in the Early Bronze Age / Canaan,No Source,3600 BCE - 2400 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0
2782,southern-levant,Synagogue at Gamla,No Source,20 BCE - 67 CE,"Religious Group,Religious Place,Levantine Reli...",1,1
2783,southern-levant,Religion in the Middle Bronze Age / Canaan,No Source,2000 BCE - 1550 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0

In [10]:
# attributes column, minus the information that has been assigned to separted new columns.
attributes_n = []
cleaned_attributes_dict = {}

for idx, attr in enumerate(data_clean_1['Attributes']):
    parts = attr.split(",")
    for each_attr in parts:
        if 'Religious Group' not in each_attr:
            if idx not in cleaned_attributes_dict:
                cleaned_attributes_dict[idx]=[each_attr]
            else:
                cleaned_attributes_dict[idx].append(each_attr)


# Value to remove
value_to_remove = 'Religious Place'

# Iterate over the dictionary and remove the value from the lists
for key, values in cleaned_attributes_dict.items():
    cleaned_attributes_dict[key] = [value for value in values if value != value_to_remove]
#cleaned_attributes

In [11]:
cleaned_attributes = pd.Series(cleaned_attributes_dict)
data_clean_1['CleanedAttributes'] = cleaned_attributes

In [12]:
#handy tool for checking if nan are present in the data, just replace the column names with the column that needs to be checked
all_attrs = []
for idx,x_lst in enumerate(data_clean_1['CleanedAttributes']):
    if isinstance(x_lst, float):
        print(x_lst)
        print(idx)
        pass
    else:
        for x in x_lst:
            all_attrs.append(x)

nan
1308
nan
1467

In [13]:
#two rows found with nan for attributes, remove the above rows with no(nan) attributes
data_clean_1 = data_clean_1[data_clean_1['CleanedAttributes'].notna()]
data_clean_1

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes
0,afghanistan,Chishti Sufis,Supervised by: Stephen Christopher,1200 CE - 2020 CE,"Religious Group,Sufi,Islamic Traditions,South ...",1,0,"[Sufi, Islamic Traditions, South Asian Religio..."
1,africa,African Initiated Churches,No Source,1900 CE - 2022 CE,"Religious Group,pentecostal,African Religions,...",1,0,"[pentecostal, African Religions, Christian Tra..."
2,africa,Ancient Egypt - Early Dynastic Period,No Source,2950 BCE - 2670 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]"
3,africa,Ancient Egypt - First Intermediate Period,No Source,2168 BCE - 2010 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]"
4,africa,Ancient Egypt - Old Kingdom,No Source,2670 BCE - 2168 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]"
...,...,...,...,...,...,...,...,...
2779,al-andalus,Qiṣṣat Dhī al-Qarnayn,No Source,850 CE - 1250 CE,"Religious Group,Text,Apocalyptic Literature an...",1,0,"[Text, Apocalyptic Literature and 6 more]"
2780,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...",No Source,1332 CE - 1406 CE,"Religious Group,Text,فقه,Islamic Theology,Rule...",1,0,"[Text, فقه, Islamic Theology, Rule Text, Relig..."
2781,southern-levant,Religion in the Early Bronze Age / Canaan,No Source,3600 BCE - 2400 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran..."
2782,southern-levant,Synagogue at Gamla,No Source,20 BCE - 67 CE,"Religious Group,Religious Place,Levantine Reli...",1,1,"[Levantine Religion, Archaeological Site, Syna..."
2783,southern-levant,Religion in the Middle Bronze Age / Canaan,No Source,2000 BCE - 1550 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran..."

In [14]:
# now work on splitting the TimeFrame column. Here only years are reported, so we'll keep the year in CE era as positive integers,
# and year in the BCE era as negative integers for creating a timeline for plotting.

# first split the year range into start and end year

data_clean_1['Start_year'] = data_clean_1['TimeFrame'].apply(lambda x: pd.Series(re.split(' - ',x)[0]))
data_clean_1['End_year'] = data_clean_1['TimeFrame'].apply(lambda x: pd.Series(re.split(' - ',x)[1]))

def year_by_era(year_with_era):
    match_str = re.compile('[0-9]+')
    m = match_str.findall(year_with_era)
    year_string = m[0]

    if 'BCE' in year_with_era:
        year = -(int(year_string)) 
    else:
        year = int(year_string)

    return year

In [15]:
data_clean_1['Start_year']= data_clean_1['Start_year'].apply(lambda x: year_by_era(x))
data_clean_1['End_year']= data_clean_1['End_year'].apply(lambda x: year_by_era(x))
data_clean_1

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes,Start_year,End_year
0,afghanistan,Chishti Sufis,Supervised by: Stephen Christopher,1200 CE - 2020 CE,"Religious Group,Sufi,Islamic Traditions,South ...",1,0,"[Sufi, Islamic Traditions, South Asian Religio...",1200,2020
1,africa,African Initiated Churches,No Source,1900 CE - 2022 CE,"Religious Group,pentecostal,African Religions,...",1,0,"[pentecostal, African Religions, Christian Tra...",1900,2022
2,africa,Ancient Egypt - Early Dynastic Period,No Source,2950 BCE - 2670 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2950,-2670
3,africa,Ancient Egypt - First Intermediate Period,No Source,2168 BCE - 2010 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2168,-2010
4,africa,Ancient Egypt - Old Kingdom,No Source,2670 BCE - 2168 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2670,-2168
...,...,...,...,...,...,...,...,...,...,...
2779,al-andalus,Qiṣṣat Dhī al-Qarnayn,No Source,850 CE - 1250 CE,"Religious Group,Text,Apocalyptic Literature an...",1,0,"[Text, Apocalyptic Literature and 6 more]",850,1250
2780,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...",No Source,1332 CE - 1406 CE,"Religious Group,Text,فقه,Islamic Theology,Rule...",1,0,"[Text, فقه, Islamic Theology, Rule Text, Relig...",1332,1406
2781,southern-levant,Religion in the Early Bronze Age / Canaan,No Source,3600 BCE - 2400 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-3600,-2400
2782,southern-levant,Synagogue at Gamla,No Source,20 BCE - 67 CE,"Religious Group,Religious Place,Levantine Reli...",1,1,"[Levantine Religion, Archaeological Site, Syna...",-20,67
2783,southern-levant,Religion in the Middle Bronze Age / Canaan,No Source,2000 BCE - 1550 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-2000,-1550

In [30]:
data_clean_1[data_clean_1['Name'].str.contains('al-Masjed')]

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes,Start_year,End_year
577,asia,الكعبة : المسجد الحرام al-Ka'ba : al-Masjed al...,No Source,2000 BCE - 2023 CE,"Religious Group,Religious Place,Arabia,Abraham...",1,1,"[Arabia, Abrahamic, Arabian Religions, Islamic...",-2000,2023
825,western-asia,الكعبة : المسجد الحرام al-Ka'ba : al-Masjed al...,No Source,2000 BCE - 2023 CE,"Religious Group,Religious Place,Arabia,Abraham...",1,1,"[Arabia, Abrahamic, Arabian Religions, Islamic...",-2000,2023

## Getting Latitude and Longitude

This task was slightly more complicated than a simple call to the geocoding API due to the following reasons:
- some of the region names were old region names, that are not used any more, for example al-andalus (now Spain). I tried a few different packages, the google geocoding API worked best, as it was able to pick up some regions using their former names. The api didn't work for all such regions, and I manually mapped the missing ones, using the nearest modern country name.
    - I first found all the region names for which the API returned invalid results. Then I created a dictionary mapping these regions to the modern day country names. And then I used the API to get latitude longitude information for all regions and add it to the cleaned dataframe.

In [16]:
#On to geocoding now.
#This function takes a region name and returns latitude, longitude and country 
def get_coordinates(addresses):
    visited = []
    coordinate_dictionary = {}
    for address in addresses:
        if address == 'al-andalus':
            address = 'andalus'
        if address not in visited:
            params = {
                'key':API_KEY,
                'address' : address
            }

            base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
            response = requests.get(base_url, params = params).json()
            #print(response)
            if response['status'] == 'OK':
                coords = response['results'][0]['geometry']
                formatted_address = re.split(',',response['results'][0]['formatted_address'])
                #print(formatted_address)
                potential_country_name = formatted_address.pop().strip()
                #print(potential_country_name)
                if potential_country_name.isdigit():
                    #print("here")
                    country_name = formatted_address.pop().strip()
                else:
                    country_name = potential_country_name
                    
                lat = coords['location']['lat']
                lon = coords['location']['lng']
                if address not in coordinate_dictionary:
                    if address == 'andalus':
                        coordinate_dictionary['al-andalus']=[lat,lon,country_name]
                    else:
                        coordinate_dictionary[address]=[lat,lon,country_name]
            else:
                coordinate_dictionary[address] = [None,None,None]
            visited.append(address)
    return coordinate_dictionary

In [17]:
def get_invalid_region_names(addresses):
    visited = []
    nonexistent_list = []
    for address in addresses:
        if address not in visited:
            params = {
                'key':API_KEY,
                'address' : address
            }

            base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
            response = requests.get(base_url, params = params).json()
            #print(response)
            if response['status'] == 'OK':
                pass
            else:
                nonexistent_list.append(address)
            visited.append(address)
    return nonexistent_list

In [18]:
all_source_region = data_clean_1['Region'].tolist()
invalid_region_names = get_invalid_region_names(all_source_region)
invalid_region_unique = list(set(invalid_region_names))
invalid_region_unique

['transnational',
 'dalmatia',
 'jiankang',
 'el-asasif',
 'galilee',
 'jordan-valley',
 'gaul',
 'chaldea',
 'canaan',
 'phrygia',
 'al-andalus',
 'java',
 'mesoamerica',
 'prydain',
 'byzantium',
 'pictland',
 'boeotia',
 'worms',
 'kition',
 'global',
 'thrace',
 'persianate-world',
 'anatolia',
 'amdo',
 'iberia',
 'judean-desert',
 'amarna',
 'edom',
 'al-qadisiyah',
 'edessan-region',
 'caanan',
 'aegean',
 'asia-minor',
 'tamilakam',
 'occidente-de-mesoamérica',
 'marathon',
 'north-asia',
 'cybersect',
 'song-dynasty',
 'sichuan-basin',
 'magna-graecia',
 'lower-48',
 'international',
 'etruria',
 'babylonia']

In [31]:
manually_map_unknown = {'al-andalus':'andalus','al-qadisiyah': 'Iraq', 'amdo':'China', 'anatolia':'Turkey', 'north-asia':'Russia', 
                        'asia-minor': 'Turkey','antiloch': 'Greece','attica': 'Greece','laconia': 'Greece','aegean': 'Greece',
                        'naples': 'Greece','kition':'Cyprus',
       'byzantium':'Turkey', 'caanan':'Israel', 'canaan':'Israel', 'carthage':'Tunisia', 'jiankang':'China',
       'song-china':'China', 'dalmatia':'Croatia', 'edessan-region':'Syria', 'amarna':'Egypt',
       'white-monastery':'Egypt', 'el-asasif':'Egypt', 'galicia':'Spain', 'galilee':'Israel', 'gaul':'Israel',
       'worms':'Germany', 'global':'global', 'cybersect':'global', 'aegean':'Greece', 'boeotia':'Greece', 'marathon':'Greece',
       'thrace':'Greece', 'iberia':'Spain', 'international':'global', 'magna-graecia':'Italy', 'java':'Indonesia',
       'edom':'Israel', 'jordan-valley':'Jordan', 'judean-desert':'Israel', 'mesoamerica':'Belize',
       'babylonia':'Iraq', 'chaldea':'Iraq', 'occidente-de-mesoamérica':'Belize',
       'persianate-world':'Iran', 'phrygia':'Turkey', 'pictland':'Scotland', 'prydain':'Britian',
       'sichuan-basin':'China', 'song-dynasty':'China', 'southwest-china':'China', 'tamilakam':'India',
       'transnational':'global', 'lower-48':'USA', 'etruria':'Italy', 'kyushu':'Japan'}
#On to geocoding now.
#This function takes a region name and returns a dictionary containing current region name, latitude, longitude and 
#source name (region name from the source)
def get_coordinates2(addresses, manual_add_dict):
    visited = []
    coordinate_dictionary = {}
    for address in addresses:
        source_name = address
        value = manual_add_dict.get(address)
        if value:
            address = value
            
        if source_name not in visited:
            params = {
                'key':API_KEY,
                'address' : address
            }

            base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
            response = requests.get(base_url, params = params).json()
            #print(response)
            if response['status'] == 'OK':
                coords = response['results'][0]['geometry']
                formatted_address = re.split(',',response['results'][0]['formatted_address'])
                #print(formatted_address)
                potential_country_name = formatted_address.pop().strip()
                #print(potential_country_name)
                if potential_country_name.isdigit():
                    #print("here")
                    region_name = formatted_address.pop().strip()
                else:
                    region_name = potential_country_name
                    
                lat = coords['location']['lat']
                lon = coords['location']['lng']
                
                if 'CurrentRegion' not in coordinate_dictionary:
                    coordinate_dictionary['CurrentRegion'] = [region_name]
                else:
                    coordinate_dictionary['CurrentRegion'].append(region_name)
                if 'Latitude'not in coordinate_dictionary:
                    coordinate_dictionary['Latitude'] = [lat]
                else:
                    coordinate_dictionary['Latitude'].append(lat)

                if 'Longitude'not in coordinate_dictionary:
                    coordinate_dictionary['Longitude'] = [lon]
                else:
                    coordinate_dictionary['Longitude'].append(lon)
                if 'Region' not in coordinate_dictionary:
                    coordinate_dictionary['Region'] = [source_name]
                else:
                    coordinate_dictionary['Region'].append(source_name)
            else:
                if 'CurrentRegion' not in coordinate_dictionary:
                        coordinate_dictionary['CurrentRegion'] = [None]
                else:
                    coordinate_dictionary['CurrentRegion'].append(None)
                if 'Latitude'not in coordinate_dictionary:
                    coordinate_dictionary['Latitude'] = [None]
                else:
                    coordinate_dictionary['Latitude'].append(None)

                if 'Longitude'not in coordinate_dictionary:
                    coordinate_dictionary['Longitude'] = [None]
                else:
                    coordinate_dictionary['Longitude'].append(None)
                if 'Region' not in coordinate_dictionary:
                    coordinate_dictionary['Region'] = [source_name]
                else:
                    coordinate_dictionary['Region'].append(source_name)
        visited.append(source_name)
    return coordinate_dictionary

In [32]:

g = []
for e in invalid_region_unique:
    if e not in manually_map_unknown:
        g.append(e)
g

[]

In [33]:
addresses_list = list(data_clean_1['Region'])
coordinates_and_region_names_dict = get_coordinates2(addresses_list,manually_map_unknown)

In [34]:
coordinates_and_region_names_dict

{'CurrentRegion': ['Afghanistan',
  'Africa',
  'Central African Republic',
  'East Africa',
  'Egypt',
  'Central Africa',
  'North Africa',
  'Southern Africa',
  'West Africa',
  'Iraq',
  'Algeria',
  'China',
  'Türkiye',
  'USA',
  'Persian Gulf (also known as the Arabian Gulf)',
  'Arabia',
  'Asia',
  'Caucasus',
  'Central Asia',
  'East Asia',
  'Himalayas',
  'Asia',
  'Russia',
  'South Asia',
  'South East Asia',
  'Asia',
  'Asia',
  'Türkiye',
  'India',
  'Australia',
  'Iraq',
  'Balkans',
  'Bangladesh',
  'Iraq',
  'Borneo',
  'Brazil',
  'Türkiye',
  'Türkiye',
  'Israel',
  'Israel',
  'Canada',
  'Tunisia',
  'Azerbaijan',
  'China',
  'Vietnam',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'China',
  'Cyprus',
  'Cyprus',
  'Cyprus',
  'Cyprus',
  'Croatia',
  'India',
  'Democratic Republic of the Congo',
  'Denmark',
  'Indonesia',
  'Eastern Europe',
  'Mediterranean Sea',
  'Greece',
  'Syria',
  'Egypt',
  'Egypt',
  'Egypt',
  'Egypt',
  'Deir al Balah',
  'Egypt',
  'Egypt',
  'Egypt',
  'Sudan',
  'Egypt',
  'Egypt',
  'Egypt',
  'Egypt',
  'Egypt',
  'Egypt',
  'Egypt',
  'UK',
  'UK',
  'Europe',
  'British Isles',
  'Northern Europe',
  'Scandinavia',
  'Balkans',
  'Southern Europe',
  'Western Europe',
  'Spain',
  'Israel',
  'Israel',
  'Germany',
  'Germany',
  'Germany',
  'Germany',
  'Germany',
  None,
  None,
  'Indonesia',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'North Macedonia',
  'Greece',
  'Greece',
  'Aegean Islands',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'India',
  'India',
  'United Kingdom',
  'Hong Kong',
  'Spain',
  'India',
  'India',
  'Konkan',
  'India',
  'Northeast India',
  'India',
  'Western India',
  'Indonesia',
  'Indonesia',
  None,
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Gaza',
  'Israel',
  'Italy',
  'Italy',
  'Italy',
  'Greece',
  'Italy',
  'Italy',
  'Italy',
  'Italy',
  'Japan',
  'Japan',
  'Japan',
  'Japan',
  'Indonesia',
  'Jordan',
  'Israel',
  'Jordan',
  'Israel',
  'India',
  'Nepal',
  'India',
  'Iraq',
  'Iraq',
  'Caribbean',
  'Caribbean',
  'Central America',
  'Mexico',
  'South America',
  'Maghreb',
  'Lebanon',
  'Levant',
  'Mediterranean Sea',
  'Levant',
  'India',
  'Greece',
  'Belize',
  'Middle East',
  'Iraq',
  'Iraq',
  'Iraq',
  'Syria',
  'Türkiye',
  'Mongolia',
  'Nepal',
  'New Zealand',
  'Nigeria',
  'North Africa',
  'North America',
  'Arctic',
  'Caribbean',
  'United States',
  'North Korea',
  'Indonesia',
  'USA',
  'United Kingdom',
  'Iraq',
  'UK',
  'Belize',
  'Oceania',
  'Melanesia',
  'Micronesia',
  'Polynesia',
  'India',
  'Oman',
  'UK',
  'Pakistan',
  'Palestine',
  'Iran',
  'Peru',
  'Türkiye',
  'UK',
  'Portugal',
  'United Kingdom',
  'Puerto Rico',
  'India',
  'India',
  'Romania',
  'Russia',
  'Saudi Arabia',
  'UK',
  'UK',
  'China',
  'China',
  'China',
  'South Africa',
  'Orinoco',
  'Argentina',
  'Bolivia',
  'Chile',
  'Colombia',
  'Ecuador',
  'French Guiana',
  'Guyana',
  'Paraguay',
  'Patagonia',
  'Suriname',
  'Uruguay',
  'Venezuela',
  'Pakistan',
  'South India',
  'South Korea',
  'Indonesia',
  'Cambodia',
  'Indonesia',
  'Iraq',
  'China',
  'Spain',
  'Sri Lanka',
  'Africa',
  'Sudan',
  'Indonesia',
  'Taiwan',
  'Taiwan',
  'India',
  'China',
  None,
  'Tunisia',
  'Tunisia',
  'Türkiye',
  'Türkiye',
  'Türkiye',
  'Turkmenistan',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'USA',
  'USA',
  'USA',
  'United States',
  'USA',
  'USA',
  'USA',
  'USA',
  'USA',
  'India',
  'Uzbekistan',
  'Pyrenees',
  'Vietnam',
  'Vietnam',
  'Vietnam',
  'Vietnam',
  'Vietnam',
  'UK',
  'Asia',
  'India',
  'Yemen',
  'Spain'],
 'Latitude': [33.93911,
  -8.783195,
  6.611110999999999,
  1.957709,
  26.820553,
  2.3184621,
  26.0197776,
  -24.3570767,
  13.531665,
  33.223191,
  28.033886,
  35.86166,
  38.963745,
  38.0049214,
  26.7505337,
  19.4914108,
  34.047863,
  43.5851814,
  45.4506875,
  38.7945952,
  28.5983159,
  34.047863,
  61.52401,
  25.03764,
  -2.2179704,
  34.047863,
  34.047863,
  38.963745,
  26.2006043,
  -25.274398,
  33.315241,
  41.8101472,
  23.684994,
  30.5257657,
  0.9618833999999999,
  -14.235004,
  38.963745,
  41.0082376,
  31.046051,
  31.046051,
  56.130366,
  33.886917,
  39.2009126,
  43.7934299,
  14.6516511,
  34.1577499,
  35.86166,
  31.8615699,
  39.904211,
  35.86166,
  36.0594199,
  23.1317099,
  23.1290799,
  38.0359899,
  34.7657099,
  30.5453899,
  32.0607099,
  28.6741699,
  35.86166,
  34.5594987,
  34.6181299,
  34.2648599,
  36.6682599,
  31.230416,
  37.8734299,
  30.6508899,
  35.86166,
  35.86166,
  29.720415,
  36.519334,
  29.720415,
  30.2655499,
  35.126413,
  35.126413,
  34.9182222,
  34.77539489999999,
  45.1,
  28.7040592,
  -4.038333,
  56.26392,
  -7.5360639,
  52.0055148,
  34.5531284,
  40.8016803,
  34.80207499999999,
  26.820553,
  27.5497708,
  30.0444196,
  25.7372608,
  31.417139,
  27.7562255,
  25.6872431,
  27.7756546,
  18.052469,
  25.7401643,
  30.4698437,
  26.820553,
  26.820553,
  25.6872431,
  26.820553,
  24.083333,
  52.3555177,
  51.5072178,
  54.5259614,
  54.65837269999999,
  62.27864750000001,
  62.27864750000001,
  41.8101472,
  41.2745004,
  46.2021848,
  40.46366700000001,
  31.046051,
  31.046051,
  51.165691,
  49.9928617,
  49.0134297,
  49.3172765,
  51.165691,
  None,
  None,
  -5.310288799999999,
  39.074208,
  39.074208,
  39.074208,
  39.074208,
  38.6043984,
  35.240117,
  36.33761965,
  39.074208,
  41.608635,
  39.074208,
  40.2644928,
  38.09556411145435,
  39.074208,
  37.349722,
  38.5598641,
  40.6400629,
  39.6102887,
  39.074208,
  38.5115496,
  22.6708317,
  29.0587757,
  56.5641092,
  22.3193039,
  40.46366700000001,
  20.593684,
  15.2993265,
  19.3529794,
  19.7514798,
  25.5736012,
  19.0759837,
  23.9074276,
  -0.789275,
  -2.8441371,
  None,
  32.427908,
  33.223191,
  53.77975540000001,
  31.046051,
  31.5016951,
  31.768319,
  41.87194,
  41.87194,
  41.87194,
  39.074208,
  41.7311182,
  41.9027835,
  40.1208752,
  37.5999938,
  36.204824,
  36.16999990000001,
  36.204824,
  33.7432238,
  -0.789275,
  30.585164,
  31.046051,
  30.585164,
  31.046051,
  15.3172775,
  27.6666667,
  10.1631526,
  32.047243,
  36.4103395,
  21.4691137,
  21.4691137,
  12.7690126,
  23.634501,
  -8.783195,
  25.6422079,
  33.854721,
  34.0757336,
  34.5531284,
  34.0757336,
  22.9734229,
  36.7721873,
  17.189877,
  29.2985278,
  33.223191,
  33.223191,
  34.5337527,
  34.80207499999999,
  38.963745,
  46.862496,
  28.394857,
  -40.900557,
  9.081999,
  26.0197776,
  54.5259614,
  76.2505778,
  21.4691137,
  37.09024,
  40.339852,
  2.1153547,
  43.2994285,
  55.378051,
  33.223191,
  54.7877149,
  17.189877,
  -22.7359095,
  -8.190185699999999,
  7.425554,
  -16.8395019,
  20.2375561,
  21.4735329,
  58.9809401,
  30.375321,
  31.952162,
  32.427908,
  -9.189967,
  38.963745,
  56.49067119999999,
  39.39987199999999,
  55.378051,
  18.220833,
  31.1471305,
  27.0238036,
  45.943161,
  61.52401,
  23.885942,
  56.49067119999999,
  60.5296507,
  30.6508899,
  35.86166,
  35.86166,
  -30.559482,
  5.459619310406225,
  -38.416097,
  -16.290154,
  -35.675147,
  4.570868,
  -1.831239,
  3.933889,
  4.860416,
  -23.442503,
  -41.8101472,
  3.919305,
  -32.522779,
  6.42375,
  30.5,
  12.2601557,
  35.907757,
  -3.6687994,
  12.565679,
  -1.8479,
  33.223191,
  35.86166,
  40.46366700000001,
  7.873053999999999,
  -8.783195,
  12.862807,
  -0.589724,
  23.69781,
  23.69781,
  20.593684,
  29.6472399,
  None,
  33.886917,
  36.5072263,
  38.6586639,
  37.2231663,
  41.0082376,
  38.969719,
  48.379433,
  23.424076,
  55.378051,
  37.09024,
  63.588753,
  36.778261,
  19.8986819,
  37.09024,
  40.7127753,
  41.2033216,
  35.5174913,
  31.9685988,
  39.3209801,
  27.5705886,
  41.377491,
  42.6681804,
  14.058324,
  11.0903703,
  11.5752791,
  15.7687821,
  11.6738767,
  52.1306607,
  34.047863,
  20.593684,
  15.552727,
  37.5442706],
 'Longitude': [67.709953,
  34.508523,
  20.939444,
  37.2972044,
  30.802498,
  19.5687103,
  32.277834,
  19.5687103,
  -2.4604145,
  43.679291,
  1.659626,
  104.195397,
  35.243322,
  -121.805789,
  51.6834275,
  47.4490397,
  100.6196553,
  45,
  68.8319005,
  106.5348379,
  83.9310039,
  100.6196553,
  105.318756,
  76.4563087,
  115.66283,
  100.6196553,
  100.6196553,
  35.243322,
  92.9375739,
  133.775136,
  44.3660671,
  21.0937311,
  90.356331,
  47.77379699999999,
  114.5548495,
  -51.92528,
  35.243322,
  28.9783589,
  34.851612,
  34.851612,
  -106.346771,
  9.537499,
  45.4082269,
  87.6271,
  108.4276047,
  108.90688,
  104.195397,
  117.28565,
  116.407395,
  104.195397,
  103.82634,
  113.26627,
  113.26436,
  114.46979,
  113.75322,
  114.34234,
  118.76295,
  115.91004,
  104.195397,
  112.4678779,
  112.45402,
  108.95424,
  117.02076,
  121.473701,
  112.56272,
  104.07572,
  104.195397,
  104.195397,
  112.650141,
  116.610556,
  112.650141,
  120.1536,
  33.429859,
  33.429859,
  33.6200625,
  32.4217786,
  15.2,
  77.10249019999999,
  21.758664,
  9.501785,
  112.2384017,
  37.95874939999999,
  18.0480105,
  22.0439798,
  38.996815,
  30.802498,
  30.7183247,
  31.2357116,
  32.6077347,
  34.350931,
  30.9038389,
  32.6396357,
  30.8002609,
  30.94981,
  32.601411,
  30.2743484,
  30.802498,
  30.802498,
  32.6396357,
  30.802498,
  32.883333,
  -1.1743197,
  -0.1275862,
  15.2551187,
  -5.707144700000001,
  12.3401708,
  12.3401708,
  21.0937311,
  -1.2121322,
  1.2643875,
  -3.74922,
  34.851612,
  34.851612,
  10.451526,
  8.2472526,
  12.1016236,
  8.441217199999999,
  10.451526,
  None,
  None,
  119.742604,
  21.824312,
  21.824312,
  21.824312,
  21.824312,
  22.7152131,
  24.8092691,
  27.17470585,
  21.824312,
  21.745275,
  21.824312,
  24.2152731,
  25.65031695609477,
  21.824312,
  22.352222,
  22.1430215,
  22.9444191,
  22.047637,
  21.824312,
  21.5706786,
  71.5723953,
  76.085601,
  -5.931391200000001,
  114.1693611,
  -3.74922,
  78.96288,
  74.12399599999999,
  73.2765361,
  75.7138884,
  93.24725649999999,
  72.8776559,
  72.7097161,
  113.921327,
  119.2320784,
  None,
  53.688046,
  43.679291,
  -7.3055309,
  34.851612,
  34.4668445,
  35.21371,
  12.56738,
  12.56738,
  12.56738,
  21.824312,
  12.2862694,
  12.4963655,
  9.012892599999999,
  14.0153557,
  138.252924,
  138.04,
  138.252924,
  133.6375314,
  113.921327,
  36.238414,
  34.851612,
  36.238414,
  34.851612,
  75.7138884,
  85.35,
  76.64127119999999,
  44.3709408,
  44.38719529999999,
  -78.6568942,
  -78.6568942,
  -85.60236429999999,
  -102.552784,
  -55.491477,
  2.4604145,
  35.862285,
  37.9784585,
  18.0480105,
  37.9784585,
  78.6568942,
  22.3814624,
  -88.49765,
  42.5509603,
  43.679291,
  43.679291,
  43.483738,
  38.996815,
  35.243322,
  103.846656,
  84.12400799999999,
  174.885971,
  8.675277,
  32.277834,
  -105.2551187,
  -100.1139521,
  -78.6568942,
  -95.712891,
  127.510093,
  99.54509739999999,
  -74.21793260000001,
  -3.435973,
  43.679291,
  -6.4923145,
  -88.49765,
  140.0187653,
  152.8264684,
  150.550812,
  -148.3716902,
  84.2700179,
  55.975413,
  -2.9605206,
  69.34511599999999,
  35.233154,
  53.688046,
  -75.015152,
  35.243322,
  -4.2026458,
  -8.224454,
  -3.435973,
  -66.590149,
  75.34121789999999,
  74.21793260000001,
  24.96676,
  105.318756,
  45.079162,
  -4.2026458,
  -1.2659408,
  104.07572,
  104.195397,
  104.195397,
  22.937506,
  -65.01373140261339,
  -63.61667199999999,
  -63.58865299999999,
  -71.542969,
  -74.297333,
  -78.18340599999999,
  -53.125782,
  -58.93018,
  -58.443832,
  -68.9062689,
  -56.027783,
  -55.765835,
  -66.58973,
  70.1666667,
  77.1461396,
  127.766922,
  119.9740534,
  104.990963,
  120.5279,
  43.679291,
  104.195397,
  -3.74922,
  80.77179699999999,
  34.508523,
  30.217636,
  101.3431058,
  120.960515,
  120.960515,
  78.96288,
  91.11744999999999,
  None,
  9.537499,
  8.7756556,
  34.8531604,
  38.9224119,
  28.9783589,
  59.556278,
  31.16558,
  53.847818,
  -3.435973,
  -95.712891,
  -154.4930619,
  -119.4179324,
  -155.6658568,
  -95.712891,
  -74.0059728,
  -77.1945247,
  -86.5804473,
  -99.9018131,
  -111.0937311,
  80.0981869,
  64.585262,
  1.0011899,
  108.277199,
  108.0720781,
  108.1428669,
  108.1193154,
  108.8629572,
  -3.7837117,
  100.6196553,
  78.96288,
  48.516388,
  -4.7277528],
 'Region': ['afghanistan',
  'africa',
  'central-africa',
  'eastern-africa',
  'egypt',
  'middle-africa',
  'northern-africa',
  'southern-africa',
  'western-africa',
  'al-qadisiyah',
  'algeria',
  'amdo',
  'anatolia',
  'antioch',
  'arabian-gulf',
  'arabian-peninsula',
  'asia',
  'caucasus',
  'central-asia',
  'east-asia',
  'himalayas',
  'inner-asia',
  'north-asia',
  'south-asia',
  'southeast-asia',
  'southwest-asia',
  'western-asia',
  'asia-minor',
  'assam',
  'australia',
  'baghdad',
  'balkans',
  'bangladesh',
  'basra',
  'borneo',
  'brazil',
  'byzantium',
  'constantinople',
  'caanan',
  'canaan',
  'canada',
  'carthage',
  'nakhchivan-autonomous-republic',
  'xinjiang/east-turkestan',
  'central-vietnam',
  "chang'an-(xi'an)",
  'china',
  'anhui',
  'beijing',
  'early-medieval-china',
  'gansu',
  'guangdong',
  'guangzhou',
  'hebei',
  'henan-province',
  'hubei-province',
  'jiangsu-province',
  'jiangxi',
  'jiankang',
  'longmen-grottoes',
  'luoyang',
  'shaanxi-province陝西省',
  'shandong',
  'shanghai',
  'shanxi',
  'sichuan四川',
  'six-dynasties-china',
  'song-china',
  'yangzi-river-valley',
  'yellow-river-valley',
  'yellow-and-yangzi-rivers-region',
  'zhejiang',
  'cyprus',
  'kition',
  'larnaca',
  'paphos',
  'dalmatia',
  'delhi',
  'democratic-republic-of-the-congo',
  'denmark',
  'east-java',
  'eastern-europe',
  'eastern-mediterranean',
  'edessa',
  'edessan-region',
  'amarna',
  'bawit',
  'cairo',
  'deir-el-bahari',
  'deir-el-bala’izah',
  'deir-el-bersha',
  'deir-el-medina,-west-bank-luxor',
  'hermopolis-(el-ashmunein)',
  'tabennisi-(pachomius)',
  'valley-of-the-kings',
  'wadi-al-natrun:-nitria,-scetis,-kellia',
  'white-monastery',
  'el-asasif',
  'luxor',
  'egyptian-desert',
  'elephantine',
  'england',
  'london',
  'europe',
  'british-isles',
  'northern-europe',
  'scandinavia',
  'southeastern-europe',
  'southern-europe',
  'western-europe',
  'galicia',
  'galilee',
  'gaul',
  'germany',
  'mainz',
  'regensburg',
  'speyer',
  'worms',
  'global',
  'cybersect',
  'gowa-regency',
  'greece',
  'aegean',
  'attica',
  'boeotia',
  'central-greece',
  'crete',
  'dodecanese',
  'laconia',
  'macedonia',
  'marathon',
  'mount-athos',
  'northern-aegean-islands',
  'northern-greece',
  'peloponnese',
  'phokis',
  'thessaloniki',
  'thessaly',
  'thrace',
  'western-greece',
  'gujarat',
  'haryana',
  'hebrides',
  'hong-kong',
  'iberia',
  'india',
  'goa',
  'konkan',
  'maharashtra',
  'northeast-india',
  'southern-gujarat-and-mumbai',
  'western-india',
  'indonesia',
  'west-sulawesi',
  'international',
  'iran',
  'iraq',
  'ireland',
  'israel',
  'gaza',
  'jerusalem',
  'italy',
  'etruria',
  'magna-graecia',
  'naples',
  'ostia',
  'rome',
  'sardinia',
  'sicily',
  'japan',
  'honshu',
  'kyushu',
  'shikoku',
  'java',
  'jordan',
  'edom',
  'jordan-valley',
  'judean-desert',
  'karnataka',
  'kathmandu-valley',
  'kerala',
  'kufa',
  'kurdistan',
  'latin-america-and-the-caribbean',
  'caribbean',
  'central-america',
  'mexico',
  'south-america',
  'le-grand-maghreb',
  'lebanon',
  'levant',
  'mediterranean-coast',
  'southern-levant',
  'madhya-pradesh',
  'mani,-messinia',
  'mesoamerica',
  'middle-east',
  'babylonia',
  'chaldea',
  'mesopotamia',
  'syria',
  'turkey',
  'mongolia',
  'nepal',
  'new-zealand',
  'nigeria',
  'north-africa',
  'north-america',
  'arctic-and-subarctic',
  'mesoamerica-and-the-caribbean',
  'united-states-of-america',
  'north-korea',
  'north-sumatra',
  'northeastern-united-states',
  'northern-britain',
  'northern-iraq',
  'northern-ireland',
  'occidente-de-mesoamérica',
  'oceania',
  'melanesia',
  'micronesia',
  'polynesia',
  'odisha',
  'oman',
  'orkney',
  'pakistan',
  'palestine',
  'persianate-world',
  'peru',
  'phrygia',
  'pictland',
  'portugal',
  'prydain',
  'puerto-rico',
  'punjab',
  'rajasthan',
  'romania',
  'russia',
  'saudi-arabia',
  'scotland',
  'shetland-islands',
  'sichuan',
  'sichuan-basin',
  'song-dynasty',
  'south-africa',
  'amazon-and-orinoco',
  'argentina',
  'bolivia-(plurinational-state-of)',
  'chile',
  'colombia',
  'ecuador',
  'french-guiana',
  'guyana',
  'paraguay',
  'patagonia',
  'suriname',
  'uruguay',
  'venezuela',
  'sulaiman-mountains',
  'south-india',
  'south-korea',
  'south-sulawesi',
  'cambodia',
  'southeast-sulawesi',
  'southern-iraq',
  'southwest-china',
  'spain',
  'sri-lanka',
  'sub-saharan-africa',
  'sudan',
  'sumatra',
  'taiwan',
  'yiguan-dao-presence-in-taiwan',
  'tamilakam',
  'tibet',
  'transnational',
  'tunisia',
  'جندوبة',
  'cappadocia',
  'göbekli-tepe',
  'istanbul',
  'turkmenistan',
  'ukraine',
  'united-arab-emirates',
  'united-kingdom',
  'united-states',
  'alaska',
  'california',
  'hawaii',
  'lower-48',
  'new-york',
  'pennsylvania',
  'tennessee',
  'texas',
  'utah',
  'uttar-pradesh',
  'uzbekistan',
  'vasco-aquitanian-roman-pyrenees',
  'vietnam',
  'binh-thuan',
  'lam-dong',
  'mỹ-sơn',
  'ninh-thuan',
  'wales',
  'west-asia',
  'western-coast-of-india',
  'yemen',
  'al-andalus']}

In [35]:
coordinates_and_region_names_df = pd.DataFrame.from_dict(coordinates_and_region_names_dict)
coordinates_and_region_names_df

                CurrentRegion   Latitude   Longitude                  Region
0                 Afghanistan  33.939110   67.709953             afghanistan
1                      Africa  -8.783195   34.508523                  africa
2    Central African Republic   6.611111   20.939444          central-africa
3                 East Africa   1.957709   37.297204          eastern-africa
4                       Egypt  26.820553   30.802498                   egypt
..                        ...        ...         ...                     ...
303                        UK  52.130661   -3.783712                   wales
304                      Asia  34.047863  100.619655               west-asia
305                     India  20.593684   78.962880  western-coast-of-india
306                     Yemen  15.552727   48.516388                   yemen
307                     Spain  37.544271   -4.727753              al-andalus

[308 rows x 4 columns]

In [36]:
missing_rows = coordinates_and_region_names_df['Latitude'].isna()
coordinates_and_region_names_df[missing_rows]

    CurrentRegion  Latitude  Longitude         Region
118          None       NaN        NaN         global
119          None       NaN        NaN      cybersect
154          None       NaN        NaN  international
275          None       NaN        NaN  transnational

In [37]:
#save to a csv
filepath = Path(directory+"/lat_lon_region.csv")
coordinates_and_region_names_df.to_csv(filepath)

In [38]:
# --------
# adding this to allow resuming running this notebook after API requests
#----------------------
coordinates_and_region_names_df = pd.read_csv('lat_lon_region.csv', index_col = 0)
coordinates_and_region_names_df

                CurrentRegion   Latitude   Longitude                  Region
0                 Afghanistan  33.939110   67.709953             afghanistan
1                      Africa  -8.783195   34.508523                  africa
2    Central African Republic   6.611111   20.939444          central-africa
3                 East Africa   1.957709   37.297204          eastern-africa
4                       Egypt  26.820553   30.802498                   egypt
..                        ...        ...         ...                     ...
303                        UK  52.130661   -3.783712                   wales
304                      Asia  34.047863  100.619655               west-asia
305                     India  20.593684   78.962880  western-coast-of-india
306                     Yemen  15.552727   48.516388                   yemen
307                     Spain  37.544271   -4.727753              al-andalus

[308 rows x 4 columns]

In [39]:
coordinates_and_region_names_df[coordinates_and_region_names_df['Region'].str.contains('minor')]

   CurrentRegion   Latitude  Longitude      Region
27       Türkiye  38.963745  35.243322  asia-minor

In [40]:
data_clean_1

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes,Start_year,End_year
0,afghanistan,Chishti Sufis,Supervised by: Stephen Christopher,1200 CE - 2020 CE,"Religious Group,Sufi,Islamic Traditions,South ...",1,0,"[Sufi, Islamic Traditions, South Asian Religio...",1200,2020
1,africa,African Initiated Churches,No Source,1900 CE - 2022 CE,"Religious Group,pentecostal,African Religions,...",1,0,"[pentecostal, African Religions, Christian Tra...",1900,2022
2,africa,Ancient Egypt - Early Dynastic Period,No Source,2950 BCE - 2670 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2950,-2670
3,africa,Ancient Egypt - First Intermediate Period,No Source,2168 BCE - 2010 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2168,-2010
4,africa,Ancient Egypt - Old Kingdom,No Source,2670 BCE - 2168 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2670,-2168
...,...,...,...,...,...,...,...,...,...,...
2779,al-andalus,Qiṣṣat Dhī al-Qarnayn,No Source,850 CE - 1250 CE,"Religious Group,Text,Apocalyptic Literature an...",1,0,"[Text, Apocalyptic Literature and 6 more]",850,1250
2780,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...",No Source,1332 CE - 1406 CE,"Religious Group,Text,فقه,Islamic Theology,Rule...",1,0,"[Text, فقه, Islamic Theology, Rule Text, Relig...",1332,1406
2781,southern-levant,Religion in the Early Bronze Age / Canaan,No Source,3600 BCE - 2400 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-3600,-2400
2782,southern-levant,Synagogue at Gamla,No Source,20 BCE - 67 CE,"Religious Group,Religious Place,Levantine Reli...",1,1,"[Levantine Religion, Archaeological Site, Syna...",-20,67
2783,southern-levant,Religion in the Middle Bronze Age / Canaan,No Source,2000 BCE - 1550 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-2000,-1550

In [41]:
data_clean_merged = pd.merge(data_clean_1, coordinates_and_region_names_df, on='Region', how='left')
missing_lat =  data_clean_merged['Latitude'].isna()
data_clean_merged['Region'][missing_lat].unique()

array(['global', 'cybersect', 'international', 'transnational'],
      dtype=object)

In [42]:
data_clean_merged

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes,Start_year,End_year,CurrentRegion,Latitude,Longitude
0,afghanistan,Chishti Sufis,Supervised by: Stephen Christopher,1200 CE - 2020 CE,"Religious Group,Sufi,Islamic Traditions,South ...",1,0,"[Sufi, Islamic Traditions, South Asian Religio...",1200,2020,Afghanistan,33.939110,67.709953
1,africa,African Initiated Churches,No Source,1900 CE - 2022 CE,"Religious Group,pentecostal,African Religions,...",1,0,"[pentecostal, African Religions, Christian Tra...",1900,2022,Africa,-8.783195,34.508523
2,africa,Ancient Egypt - Early Dynastic Period,No Source,2950 BCE - 2670 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2950,-2670,Africa,-8.783195,34.508523
3,africa,Ancient Egypt - First Intermediate Period,No Source,2168 BCE - 2010 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2168,-2010,Africa,-8.783195,34.508523
4,africa,Ancient Egypt - Old Kingdom,No Source,2670 BCE - 2168 BCE,"Religious Group,African Religions,Egyptian Rel...",1,0,"[African Religions, Egyptian Religions]",-2670,-2168,Africa,-8.783195,34.508523
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2777,al-andalus,Qiṣṣat Dhī al-Qarnayn,No Source,850 CE - 1250 CE,"Religious Group,Text,Apocalyptic Literature an...",1,0,"[Text, Apocalyptic Literature and 6 more]",850,1250,Spain,37.544271,-4.727753
2778,al-andalus,"كتاب"" المقدّمة ""لابن خلدون livre Mou qaddîma d...",No Source,1332 CE - 1406 CE,"Religious Group,Text,فقه,Islamic Theology,Rule...",1,0,"[Text, فقه, Islamic Theology, Rule Text, Relig...",1332,1406,Spain,37.544271,-4.727753
2779,southern-levant,Religion in the Early Bronze Age / Canaan,No Source,3600 BCE - 2400 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-3600,-2400,Levant,34.075734,37.978459
2780,southern-levant,Synagogue at Gamla,No Source,20 BCE - 67 CE,"Religious Group,Religious Place,Levantine Reli...",1,1,"[Levantine Religion, Archaeological Site, Syna...",-20,67,Levant,34.075734,37.978459
2781,southern-levant,Religion in the Middle Bronze Age / Canaan,No Source,2000 BCE - 1550 BCE,"Religious Group,Syro-Palestinian Religion,Anci...",1,0,"[Syro-Palestinian Religion, Ancient Mediterran...",-2000,-1550,Levant,34.075734,37.978459

## Get Continent

In [43]:
# get continent
converter = coco.CountryConverter()

In [44]:
world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))
#world = world.set_index("iso_a3")

world.head()

/tmp/ipykernel_451/1307852207.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [35]:
#world[world['continent']=="Oceania"]

In [36]:
#f = world['name'][world['iso_a3']=="ESP"].values[0]
#f

In [45]:
def get_continent(region_name):
    continent_list = ['Asia', 'Africa', 'North America', 'South America', 'Antarctica', 'Europe','Oceania']
    region_name = str(region_name.lower())
    try:
        cl= [c.lower() for c in continent_list]
        z = [idx for idx,continent in enumerate(cl) if continent in region_name]
        #print(z)
        if z:
            cont = continent_list[z[0]]
        else:
            standardized_name = converter.convert(names = region_name, to= 'ISO3')
            #print(standardized_name)
            cont = world['continent'][world['iso_a3']== standardized_name].values[0]
            #cont = (converter.convert(names = standardized_name,src = 'ISO2', to= 'continent')).lower()
       # print(cont)
        return cont
    except LookupError:
        return None
    

# Example usage
print(get_continent('France'))

Europe

In [51]:
# the values below correspond to regions that map to more than one country, for now I 
#am assigning the groups in these regions to one of the country from 
# a list of countries that it may belogn to

manually_map_countries = {'Arabia':'Saudi Arabia',
'Caucasus':'Armenia',
'Himalayas' :'Nepal',
'Balkans':'Albania',
'Borneo' :'Indonesia',
'Borneo': 'Indonesia',
'Mediterranean Sea':'Palestine',
'Deir al Balah' :'Palestine',
'British Isles': 'UK',
'Scandinavia':'Sweden',
'Aegean Islands': 'Greece',
'Konkan': 'India',
'Caribbean':'Jamaica',
'Central America' :'Mexico',
'Maghreb': 'Morocco',
'Levant': 'Israel',
'Middle East': 'Syria',
'Melanesia' :'Oceania',
'Polynesia': 'Oceania',
'Micronesia' :'Oceania',
'Scotland' :'UK',
'Britian':'UK',
'Orinoco' :'Venezuela',
'Patagonia':'Argentina',
'Pyrenees' :'Spain',
'global':None,
'Hong Kong':'China',
'French Guiana':'Guyana',
'Arctic':"United States",
'USA': "United States"}

In [52]:
mask = data_clean_merged['CurrentRegion'].isin(manually_map_countries.keys())
indexes = data_clean_merged.loc[mask].index
indexes

Int64Index([ 283,  289,  290,  291,  292,  293,  580,  581,  582,  689,
            ...
            2739, 2740, 2741, 2742, 2743, 2744, 2749, 2779, 2780, 2781],
           dtype='int64', length=307)

In [53]:
data_clean_merged['CurrentRegion'] = data_clean_merged['CurrentRegion'].replace(manually_map_countries)

In [59]:
# fix the regions for ancient groups that have ancient names, which map to current US cities with the google API. 
# I discovered this while plotting for EDA, where some ancient Roman and Greek groups were being mapped to USA. 

#manually_map_current_region = {'antiloch':'Greece','attica':'Greece','aegean':'Greece', 'laconia':'Greece','naples':'Rome'}
#index_list_for_update= data_clean_merged[data_clean_merged['Region'].str.contains('antiloch|attica|laconia|aegean|naples')].index.tolist()
#data_clean_merged.loc[index_list_for_update, 'CurrentRegion'] = 'Greece'

In [54]:

data_clean_merged["Continent"] = data_clean_merged["CurrentRegion"].apply(lambda x: get_continent(x) if pd.notnull(x) else x)

In [55]:
data_clean_merged[data_clean_merged['Continent'].isna()]

,Region,Name,Source,TimeFrame,Attributes,ReligiousGroup,ReligiousPlace,CleanedAttributes,Start_year,End_year,CurrentRegion,Latitude,Longitude,Continent
1506,global,Church of Jesus Christ of Latter-day Saints (m...,No Source,1951 CE - 2018 CE,"Religious Group,Christian Traditions",1,0,[Christian Traditions],1951,2018,NaN,NaN,NaN,NaN
1507,global,Digital Shinto Communities,No Source,2001 CE - 2021 CE,"Religious Group,Kami worship,Asian American Re...",1,0,"[Kami worship, Asian American Religions, techn...",2001,2021,NaN,NaN,NaN,NaN
1508,global,International Society for Krishna Consciousnes...,No Source,1966 CE - 2016 CE,"Religious Group,Indic Religious Traditions",1,0,[Indic Religious Traditions],1966,2016,NaN,NaN,NaN,NaN
1509,global,Jehovah's Witnesses,No Source,1870 CE - 2022 CE,"Religious Group,Apocalyptic Movements,American...",1,0,"[Apocalyptic Movements, American Christianity,...",1870,2022,NaN,NaN,NaN,NaN
1510,global,Swaminarayan Sampraday,No Source,1800 CE - 2017 CE,"Religious Group,Indic Religious Traditions",1,0,[Indic Religious Traditions],1800,2017,NaN,NaN,NaN,NaN
1511,global,"The Church of Christ, Scientist",Secondary source: Multiple References,1866 CE - 2020 CE,"Religious Group,Christian Traditions,New Relig...",1,0,"[Christian Traditions, New Religious Movement]",1866,2020,NaN,NaN,NaN,NaN
1512,global,The International Network of Engaged Buddhists...,No Source,1989 CE - 2022 CE,"Religious Group,Buddhist Traditions",1,0,[Buddhist Traditions],1989,2022,NaN,NaN,NaN,NaN
1513,global,Universal Fellowship of Metropolitan Community...,No Source,1968 CE - 2020 CE,"Religious Group,Christian Traditions",1,0,[Christian Traditions],1968,2020,NaN,NaN,NaN,NaN
1514,global,Wesleyanism,No Source,1738 CE - 2020 CE,"Religious Group,Wesleyanism,Methodism",1,0,"[Wesleyanism, Methodism]",1738,2020,NaN,NaN,NaN,NaN
1515,global,Supreme Master Ching Hai World Society,No Source,1986 CE - 2018 CE,"Religious Group,Buddhist Traditions,Christian ...",1,0,"[Buddhist Traditions, Christian Traditions, In...",1986,2018,NaN,NaN,NaN,NaN
1516,global,Temple of the Jedi Order,Supervised by: Robyn Walsh,2007 CE - 2020 CE,"Religious Group,Transnational Cybersect,New Re...",1,0,"[Transnational Cybersect, New Religious Moveme...",2007,2020,NaN,NaN,NaN,NaN
1517,cybersect,Supreme Master Ching Hai World Society,No Source,1986 CE - 2018 CE,"Religious Group,Buddhist Traditions,Christian ...",1,0,"[Buddhist Traditions, Christian Traditions, In...",1986,2018,NaN,NaN,NaN,NaN
1518,cybersect,Temple of the Jedi Order,Supervised by: Robyn Walsh,2007 CE - 2020 CE,"Religious Group,Transnational Cybersect,New Re...",1,0,"[Transnational Cybersect, New Religious Moveme...",2007,2020,NaN,NaN,NaN,NaN
1519,global,The Yijing 易經 (The Classic of Changes),Expert source: Richard Smith,1554 BCE - 2021 CE,"Religious Group,Text,Chinese Religion,Neo-Conf...",1,0,"[Text, Chinese Religion, Neo-Confucian text, C...",-1554,2021,NaN,NaN,NaN,NaN
1748,international,The Yijing 易經 (The Classic of Changes),Expert source: Richard Smith,1554 BCE - 2021 CE,"Religious Group,Text,Chinese Religion,Neo-Conf...",1,0,"[Text, Chinese Religion, Neo-Confucian text, C...",-1554,2021,NaN,NaN,NaN,NaN
2644,transnational,Islamic modernists,No Source,1800 CE - 1980 CE,"Religious Group,Maghreb Religions,African Reli...",1,0,"[Maghreb Religions, African Religion, Seculari...",1800,1980,NaN,NaN,NaN,NaN
2645,transnational,Maqāṣid al-šarī῾a al-islāmiyya,No Source,1947 CE - 2022 CE,"Religious Group,Text,Islamic Traditions,Fiqh",1,0,"[Text, Islamic Traditions, Fiqh]",1947,2022,NaN,NaN,NaN,NaN
2646,transnational,Secular Buddhists,No Source,1997 CE - 2022 CE,"Religious Group,Secularism,Buddhist Traditions",1,0,"[Secularism, Buddhist Traditions]",1997,2022,NaN,NaN,NaN,NaN
2647,transnational,Tafsīr al-taḥrīr wa al-tanwīr,No Source,1936 CE - 2022 CE,"Religious Group,Text,Qur'anic commentary (Tafs...",1,0,"[Text, Qur'anic commentary (Tafsir), Islamic T...",1936,2022,NaN,NaN,NaN,NaN
2648,transnational,The Yijing 易經 (The Classic of Changes),Expert source: Richard Smith,1554 BCE - 2021 CE,"Religious Group,Text,Chinese Religion,Neo-Conf...",1,0,"[Text, Chinese Religion, Neo-Confucian text, C...",-1554,2021,NaN,NaN,NaN,NaN

In [56]:
filepath2 = Path(directory+"/religion_data_for_EDA.csv")
data_clean_merged.to_csv(filepath2)